body {
    margin: 0;
}

.menu {
    display: grid;
    grid-column: repeat(6,1fr);
    place-items: center;
    height: 10%;
}

.menu>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Responsive - en pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        text-align: center;
        flex: none;
    }
}